
.navbar {
    background-color: var(--yellow-theme-nav-background-color);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    position: sticky;
    z-index: 1;

    &_container{
        display: flex;
        align-items: center;
        width: 100%;
        height: inherit;
        padding: 0px 20px;   
        flex: 1;    
    }

    &_logo{
        color: var(--yellow-theme-main-color);
        cursor: pointer;
    }

    &_menu{
        display: flex;
        list-style: none;
        text-align: center;
        z-index: 10;

        &_item{
            line-height: 40px;
            margin-right: 3.445rem;
            font-size: 2rem;

            &::after{
                content: '';
                display: block;
                height: 3px;
                width: 0;
                background: transparent;
                transition: all 0.5s ease;
            }
            &:hover::after{
                width: 100%;
                background: var(--yellow-theme-main-color);
            }



            &_links{
                color: var(--yellow-theme-main-color);
                text-decoration: none;
                padding: 0.5rem;
            }
        }
    }
}

.navbar_menu_item_links {
    .is_active {
        text-decoration: underline;
        color: beige;
    }
}

.hamburger {
    display: none;
}

@media screen and (max-width: 768px){
    .navbar_menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 100px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 10;
        &.active{
            background: #181818;
            left: 0px;
            opacity: 1;
            // position: sticky;
            // margin-top: 415px;
        }

        &_item{
            border-bottom: 1px solid #282828;
            margin: 0px;
            padding: 20px 0;
        }
    }

    .hamburger{
        display: block;
        cursor: pointer;
        color: var(--yellow-theme-main-color);
        padding-right: 20px;
    }
}

@media screen and (max-width: 550px) {
    .navbar{
        height: 80px;
    }
}